@(title: String)(extraScripts: Html)(extraCss: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/app.css")">
        @extraCss
        
        <script src="@routes.Assets.at("js/vendor/custom.modernizr.js")"></script>
        <script src="@routes.Assets.at("js/jquery-2.0.3.min.js")"></script>
    </head>
    <body>
        @content

        @extraScripts
    </body>
</html>
