@(model: models.profile.LoginModel, errors: Option[models.profile.LoginModelErrors])(implicit header: MenuModel)

@import play.api.libs.json.Json

@extraCss = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/views/profile.css")" />
}

@extraScripts = {
	<script>
		var wallpaper = wallpaper || {};
		wallpaper.profile = wallpaper.profile || {};
		wallpaper.profile.login = {
			data: {
				errors: @Html(Json.toJson(errors).toString) || {}
			}
		};
	</script>
	<script src="@routes.Assets.at("js/foundation/foundation.alerts.js")"></script>
	<script src="@routes.Assets.at("js/lodash.min.js")"></script>
	<script src="@routes.Assets.at("js/views/profile/login.js")"></script>
}

@main("Login", extraCss, extraScripts) {
	<form method="post" class="form-grid">
		<fieldset>
			<legend>Login</legend>
			<div class="row">
				<div class="large-4 columns">
					<ul>
						<li>
							<label for="email" data-bind="css: { 'error': emailHasError }">Email</label>
							<input type="text" id="email" name="email" value="@model.email" data-bind="css: { 'error': emailHasError }" />
							<!-- ko if: emailHasError -->
							<small data-bind="text: emailError" class="error"></small>
							<!-- /ko -->
						</li>
						<li>
							<label for="password" data-bind="css: { 'error': passwordHasError }">Password</label>
							<input type="password" id="password" name="password" data-bind="css: { 'error': passwordHasError }" />
							<!-- ko if: passwordHasError -->
							<small data-bind="text: passwordError" class="error"></small>
							<!-- /ko -->
						</li>
						<li>
							<button type="submit">Login</button>
						</li>
					</ul>
				</div>
				<div class="large-6 columns">
					<ul data-bind="foreach: formErrors">
						<li><div data-alert="" class="form-error" data-bind="text: $data"></div></li>
					</ul>
				</div>
			</div>
		</fieldset>		
	</form>
}
