@(model: models.profile.ProfileModel)(implicit header: MenuModel)

@extraScripts = {
	
}

@extraCss = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/views/profile.css")">
}

@main("Login", extraCss, extraScripts) {
	<form method="post">
		<fieldset>
			<legend>Login</legend>
			<ul>
				<li>
					<label for="username">Username</label>
					<input type="text" id="username" name="username" value="@model.username" />
				</li>
				<li>
					<label for="password">Password</label>
					<input type="password" id="password" name="password" />
				</li>
				<li>
					<button type="submit">Login</button>
				</li>
			</ul>
		</fieldset>		
	</form>
}
