@(model: models.profile.LoginModel, errors: Option[models.profile.LoginModelErrors])(implicit header: MenuModel)

@extraScripts = {
	<script src="@routes.Assets.at("js/views/profile/login.js")"></script>
}

@extraCss = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/views/profile.css")">
}

@main("Login", extraCss, extraScripts) {
	<form method="post" class="form-grid">
		<fieldset>
			<legend>Login</legend>
			<ul>
				<li>
					<label for="email">Email</label>
					<input type="text" id="email" name="email" value="@model.email" />
				</li>
				<li>
					<label for="password">Password</label>
					<input type="password" id="password" name="password" />
				</li>
				<li>
					<button type="submit">Login</button>
				</li>
			</ul>
		</fieldset>		
	</form>
}
