@(model: models.profile.ProfileViewModel)(implicit header: MenuModel)

@import play.api.libs.json.Json

@extraCss = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/views/profile.css")" />
}

@extraScripts = {
  <script>
    var wallpaper = wallpaper || {};
    wallpaper.profile = wallpaper.profile || {};
    wallpaper.profile.data = @Html(Json.toJson(model).toString)
  </script>
  <script src="@routes.Assets.at("js/views/profile/profile.js")"></script>
}

@main("Profile", extraCss, extraScripts) {
	<h1>Profile</h1>
  <ul>
    <li data-bind="text: id"></li>
    <li data-bind="text: email"></li>
    <li data-bind="text: password"></li>
    <li data-bind="text: dateCreated"></li>
  </ul>
}
