@(model: models.profile.RegisterModel)(implicit header: MenuModel)

@extraCss = {
	
}

@extraScripts = {
	
}

@main("Register", extraCss, extraScripts) {
	<form method="post">
		<fieldset>
			<legend>Register</legend>
			<ul>
				<li>
					<label for="username">Username</label>
					<input type="text" id="username" name="username" />
				</li>
				<li>
					<label for="password">Password</label>
					<input type="password" id="password" name="password" />
				</li>
				<li>
					<label for="passwordVerify">Verify Password</label>
					<input type="password" id="passwordVerify" name="passwordVerify" />
				</li>
				<li>
					<button type="submit">Register</button>
				</li>
			</ul>
		</fieldset>
	</form>
}
