@(model: models.profile.RegisterModel, errors: Option[models.profile.RegisterModelErrors] = None)(implicit header: MenuModel)

@import play.api.libs.json.Json

@extraCss = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/views/profile.css")" />
}

@extraScripts = {
	<script>
		var wallpaper = wallpaper || { };
		wallpaper.profile = wallpaper.profile || { };
		wallpaper.profile.register = { 
			data: {
				errors: @Html(Json.toJson(errors).toString) || {},
				elementIds: {
					emailField: "email",
					passwordField: "password",
					passwordVerifyField: "passwordVerify"
				}
			}
		};
	</script>
	<script src="@routes.Assets.at("js/lodash.min.js")"></script>
	<script src="@routes.Assets.at("js/views/profile/register.js")"></script>
}

@main("Register", extraCss, extraScripts) {
	<div class="register-grid">
		<form method="post">
			<fieldset>
				<legend>Register</legend>
				<div class="row">
					<div class="large-4 columns">
						<label for="email" data-bind="css: { 'error': usernameHasError }">Email</label>
						<input type="text" id="email" name="email" value="@model.email" data-bind="css: { 'error': usernameHasError }" />
						<!-- ko if: usernameHasError -->
						<small data-bind="text: usernameError" class="error"></small>
						<!-- /ko -->
					</div>
					<div class="large-6 column">
						<ul data-bind="foreach: miscErrors">
							<li data-bind="text: $data"></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">
						<label for="password" data-bind="css: { 'error': passwordHasError }">Password</label>
						<input type="password" id="password" name="password" data-bind="css: { 'error': passwordHasError }" />
						<!-- ko if: passwordHasError -->
						<small data-bind="text: passwordError" class="error"></small>
						<!-- /ko -->
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">
						<label for="passwordVerify" data-bind="css: { 'error': passwordVerifyHasError }">Verify Password</label>
						<input type="password" id="passwordVerify" name="passwordVerify" data-bind="css: { 'error': passwordVerifyHasError }" />
						<!-- ko if: passwordVerifyHasError -->
						<small data-bind="text: passwordVerifyError" class="error"></small>
						<!-- /ko -->
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">
						<button type="submit">Register</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
}
