@(model: models.profile.RegisterModel, errors: Option[models.profile.RegisterModelErrors] = None)(implicit header: MenuModel)

@extraCss = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/views/profile.css")">
}

@extraScripts = {
	<script>
		var wallpaper = wallpaper || { };
		wallpaper.profile = wallpaper.profile || { };
		wallpaper.profile.register = { 
			data: {
				elementIds: {
					emailField: "email",
					passwordField: "password",
					passwordVerifyField: "passwordVerify"
				}
			}
		};
	</script>
}

@main("Register", extraCss, extraScripts) {
	<div class="register-grid">
		<form method="post">
			<fieldset>
				<legend>Register</legend>
				<div class="row">
					<div class="large-4 columns">
						<label for="email">Email</label>
						<input type="text" id="email" name="email" value="@model.email" />
					</div>
					<div class="large-6 column">
						<p>some placeholder text</p>
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" />
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">
						<label for="passwordVerify">Verify Password</label>
						<input type="password" id="passwordVerify" name="passwordVerify" />
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">
						<button type="submit">Register</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
}
